<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightScroll" aria-controls="offcanvasRightScroll">
  Toggle right offcanvas with scroll & backdrop
</button>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRightScroll" aria-labelledby="offcanvasRightScrollLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightScrollLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h2>Cart</h2>
    <button class="btn btn-primary">Go to Checkout</button>
    <button class="btn btn-danger">Delete All</button>
  </div>
</div>