.card {
  height: 28rem;
}

.card img {
  max-height: 150px;
  object-fit: contain;
}

.card:hover {
    /* transform: scale(1.01); */
    transition: transform 0.1s ease-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* .card:hover .card-title {
    text-decoration: underline;
} */