.card {
  height: 25rem;
}

.card:hover {
    /* transform: scale(1.01); */
    transition: transform 0.1s ease-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card button {
  position:absolute;
  bottom: -0.85rem;
  left:50%;
  transform:translateX(-50%);
  width:90% !important;
}

.card img {
  max-height: 150px;
  object-fit: contain;
}

.card-title {
    font-family: 'Roboto Condensed', 'Arial', sans-serif !important;
    font-size: 1.25rem;
    font-weight: 600 !important;
}

.card-text {
    font-family: 'Roboto Condensed', 'Arial', sans-serif !important;
    font-size: 1.1rem;
    font-weight: 400 !important;
}

/* .card:hover .card-title {
    text-decoration: underline;
} */