.cart-item {
  border-radius: 0.5rem;
}

.cart-item-image img {
  max-width: 80px;
  max-height: 1000px;
  margin:auto;
}

.increment-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
}

#cart-total h5 {
    font-family:'Roboto Condensed', 'Arial', sans-serif !important;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--shop-purple-darkened);
}
/* Delete Button Style for Shopping Cart */
.remove-btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 9rem; 
    cursor: pointer; 
    border-radius: 0 0.5rem 0.5rem 0; 
    background-color: #ddd; 
    color: white;
}

.remove-btn:hover {
    background-color: var(--shop-orange);
    color: white;
}