@import url("http://fonts.googleapis.com/css?family=Onest:400,300,700");
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Onest:wght@100..900&display=swap');

/* CSS Variables */
:root {
  --bs-body-bg: #fff;
  --shop-orange: #e7113c;
}

/* Shop Orange Color Utility Classes */
.shop-orange {
  color: var(--shop-orange);
}

.btn-shop-orange {
  background-color: var(--shop-orange);
  border-color: var(--shop-orange);
  color: white;
}

.btn-shop-orange:hover {
  border-style: outset;
  background-color: transparent;
  border: 3px solid var(--shop-orange);
  color: var(--shop-orange);
  font-weight: 600;
}

.btn-shop-orange:active {
  border-style:inset; 
  background-color: transparent;
  border: 3px solid var(--shop-orange);
  color: var(--shop-orange);
}


/* Global Styles
  For all pages, top level elements
 */
body {
  background-color: var(--bs-body-bg);
  overflow-x: hidden;
  padding-right: 0 !important;
  margin: 0;
  padding: 0;
  font-family: 'Onest', 'Arial', sans-serif !important;
  font-weight: 400;
}

/* Headings styles
  for h1 to h6 elements
*/
h1, h2, h3 {
  font-family: 'Jaro', 'Arial', sans-serif !important;
  font-weight: 600;
}

h2, h3 {
  color: var(--shop-orange);
  font-weight: 400;
}

h4,h5,h6 {
  font-weight: 700; 
}

/* Navbar styles
  for the main navigation and its elements
 */
.navbar{
  z-index: 10;
}

nav a {
  font-family: 'Onest', 'Arial', sans-serif !important;
}

ul li .active {
  font-weight: 700;
  font-style:normal;
}

.navbar-logo {
  height: 3rem;
}

/* Utility class to clamp text to 3 lines with ellipsis 
    from https://developer.mozilla.org/en-US/docs/Web/CSS/line-clamp
*/
.clamp-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Card styles
  for product cards
*/
.card {
  height: 26rem;
}

.card img {
  max-height: 150px;
  object-fit: contain;
}

.card:hover {
    transform: scale(1.01);
    transition: transform 0.1s ease-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card:hover .card-title {
    text-decoration: underline;
}

/* PLACEHOLDER
  styling for category select widget
*/
#category-select {
  border: 1px solid var(--shop-orange);
  border-radius: 0 0.25rem 0.25rem 0;
  background: transparent;
  color: var(--shop-orange);
}
.input-group-text {
  background: var(--shop-orange);
}
.bi {
  fill: white;
}

/*
Shopping cart styling
*/  
#view-cart-button {
  font-size: 2rem;
  padding: 0.4rem;
  border: none;
  background-color: transparent;
}

#view-cart-button:hover {
  background-color: rgba(243, 64, 20, 0.1);
}

#cart-item-count-badge {
  position: absolute;
  top: -10px;
  right: -2.5rem;
  font-size: 0.75rem;
}

.cart-item-image{
  max-width: 80px;
  max-height: 80px;
}

.increment-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
}

.btn-primary {
  background-color: var(--shop-orange);
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: transparent;
  border: 3px solid var(--shop-orange);
  color: var(--shop-orange);
  font-weight: 600;
}

.btn-secondary {
  background-color: var(--bs-body-bg);
  border: 1px solid var(--shop-orange);
  color: var(--shop-orange);
}

.btn-secondary:hover {
  background-color: var(--shop-orange);
  color: white;
}

/* Hero Section Styles
  for the home page hero section
*/
#hero-bg {
  background: radial-gradient(circle at 20% 30%, rgba(235, 77, 77, 1) 0%, rgba(196, 27, 70, 1) 50%, rgba(224, 84, 74, 1) 100%);
}

.btn-hero { 
  background-color: transparent;
  border: 3px solid white;
  color: white;
}

.btn-hero:hover {
  background-color: white;
  color: #000;
  mix-blend-mode: screen;
}

/* Increment Icon Styles */
.increment-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
} 
.increment-icon:hover {
    cursor: pointer;
    background-color: var(--shop-orange);
    border-radius: 0.25rem;
    color:white;
}

/* Delete Button Styles in Shopping Cart */
.remove-btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 9rem; 
    cursor: pointer; 
    border-radius: 0 0.5rem 0.5rem 0; 
    background-color: rgb(110, 9, 35); 
    color: white;
}