@import url("http://fonts.googleapis.com/css?family=Onest:400,300,700");

:root {
  --bs-body-bg: var(--bs-gray-100);
}

body {
  background-color: var(--bs-body-bg);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Onest', 'Arial', sans-serif !important;
  font-weight: 400;
}
.navbar{
  z-index: 10;
}

nav a {
  font-family: 'Onest', 'Arial', sans-serif !important;
  font-weight: 500;
}
nav a:hover {
  text-decoration: underline;
}
nav a .active {
  font-weight: 700;
}

.navbar-logo {
  height: 3rem;
}

#view-cart-button {
  font-size: 2rem;
  padding: 0.4rem;
  border: 1px solid var(--bs-gray-300);
  background: none;
}

#view-cart-button:hover {
  background-color: var(--bs-gray-200);
}