@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Onest:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Variables */
:root {
  --bs-body-bg: hsl(0, 0%, 100%);
  --shop-orange: #e7113c;
  --shop-orange-darkened: #b20c2d;
  --shop-purple: #260b94;
  --shop-purple-darkened: #1e0876;
}

/* Utility classes for font family overrides */
.font-family-onest {
  font-family: "Onest", "Arial", sans-serif !important;
}
.font-family-jaro {
  font-family: "Jaro", "Arial", sans-serif !important;
}

/* Shop Orange Color Utility Classes */
.shop-orange {
  color: var(--shop-orange);
}

.btn-primary {
  background-color: var(--shop-orange-darkened);
  border: 2px solid hsla(0, 100%, 60%, 0);
  font-weight: 700;
  color: white;
}
.btn-primary:hover {
  background-color: var(--shop-orange);
  border: 2px solid var(--shop-orange);
}
.btn-primary:active {
  /* Because we alter a bootstrap button, which use !important 
    we need to also use !important for the override to take effect
  */
  background-color: var(--shop-orange) !important;
  border: 2px solid var(--shop-orange) !important;
  border-style: inset !important;
}

.btn-secondary {
  background-color: var(--bs-body-bg);
  border: 2px solid var(--shop-orange-darkened);
  font-weight: 700;
  color: var(--shop-orange-darkened);
}
.btn-secondary:hover {
  background-color: var(--shop-orange);
  border: 2px solid var(--shop-orange);
  color: white;
}
.btn-secondary:active {
  background-color: var(--shop-orange) !important;
  border: 2px solid var(--shop-orange) !important;
  border-style: inset !important;
  color: white !important;
}

/* Global Styles
  For all pages, top level elements
 */

html {
  /* prevents layout shifts when scrollbar appears */
  scrollbar-gutter: stable;
}

body {
  background-color: var(--bs-body-bg);
  overflow-x: hidden;
  padding-right: 0 !important;
  margin: 0;
  padding: 0;
  font-family: "Onest", "Arial", sans-serif;
  font-weight: 400;
}

/* Headings styles
  for h1 to h6 elements
*/

h1 {
  font-family: "Jaro", "Arial", sans-serif;
  font-weight: 600;
}

h2,
h3 {
  color: var(--shop-orange);
  font-weight: 400;
}

h4,
h5,
h6 {
  font-weight: 700;
}

/* Utility class to clamp text to 3 lines with ellipsis 
    from https://developer.mozilla.org/en-US/docs/Web/CSS/line-clamp
*/
.clamp-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Hero Section Styles
  for the home page hero section
*/
#hero-bg {
  background: radial-gradient(
    circle at 20% 30%,
    rgba(235, 77, 77, 1) 0%,
    rgba(196, 27, 70, 1) 50%,
    rgba(224, 84, 74, 1) 100%
  );
}
/* Hero Section Helpdesk Styles */
#hero-bg-helpdesk {
  background: linear-gradient(45deg, #fffcf8, #a29c99);
}

#hero-bg-helpdesk img {
  max-height:500px;
}

.btn-hero {
  background-color: transparent;
  border: 3px solid white;
  color: white;
}
.btn-hero:hover {
  background-color: white;
  color: #000;
  mix-blend-mode: screen;
}

/* Increment Icon Styles */
.increment-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
}
.increment-icon:hover {
  cursor: pointer;
  background-color: var(--shop-orange);
  border-radius: 0.25rem;
  color: white;
}

/* Breadcrumb Styles */
.breadcrumb {
  --bs-breadcrumb-divider: ">";
}
.breadcrumb li a {
  color: #260b94;
}
